%header
	%h2.logo
		Coupon
	%a.nav
		%img(src="/images/nav.png")

%section.map
	

%section.locations
	%ul
		%li.selected
			%h2
				Location
			.distance
				%img.location(src="/images/location.png")
				5mi	
			%h4
				"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
			%button.claim
				Claim

		%li
			%h2
				Location
			.distance
				%img.location(src="/images/location.png")
				5mi	
			%h4
				"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
			%button.claim
				Claim

		%li
			%h2
				Location
			.distance
				%img.location(src="/images/location.png")
				5mi	
			%h4
				"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."	
			%button.claim
				Claim

		%li
			%h2
				Location
			.distance
				%img.location(src="/images/location.png")
				5mi	
			%h4
				"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."	
			%button.claim
				Claim

		%li
			%h2
				Location
			.distance
				%img.location(src="/images/location.png")
				5mi	
			%h4
				"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."	
			%button.claim
				Claim

		%li
			%h2
				Location
			.distance
				%img.location(src="/images/location.png")
				5mi	
			%h4
				"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
			%button.claim
				Claim										